.container {
  display: flex;
  padding: 2rem 4rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 18rem;

  img {
    width: 16rem;
    height: 16rem;
    border-radius: 16rem;
  }

  div {
    margin-top: 1.25rem;
  }

  .userInfoGroup {
    h3 {
      margin-bottom: 1rem;
      color: var(--gray-700);
    }
  
    p {
      font-size: 1.1rem;
    }
  }
  
  .followersGroup {
    display: flex;
    align-items: center;
  
    p {
      display: flex;
      align-items: center;
      color: var(--gray-700);
  
      p {
        color: var(--white);
        font-weight: 500;
        margin: 0 0.25rem;
      }
    }
  }
  
  .socialGroup {
    display: flex;
    flex-direction: column;
  
    p {
      display: flex;
      align-items: center;
  
      & + p {
        margin-top: 0.25rem;
      }
  
      svg {
        margin-right: 0.25rem;
        color: var(--gray-700);
      }
    }
  }
}

.divider {
  height: inherit;
  margin: 0 4rem;
  border-left: 1px solid var(--gray-700);
}

.content {
  display: flex;
  flex-direction: column;
}

.contentList {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}