.container {
  display: flex;
  padding: 2rem 4rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 18rem;

  img {
    width: 16rem;
    height: 16rem;
    border-radius: 16rem;
  }

  div {
    margin-top: 1.25rem;
  }

  .userInfoGroup {
    h3 {
      margin-bottom: 1rem;
      color: #8b949e;
    }
  
    p {
      font-size: 1.1rem;
    }
  }
  
  .followersGroup {
    display: flex;
    align-items: center;
  
    span {
      display: flex;
      align-items: center;
      color: #8b949e;
  
      span {
        color: var(--white);
        font-weight: 500;
        margin: 0 0.25rem;
      }
    }
  }
  
  .socialGroup {
    display: flex;
    flex-direction: column;
  
    span {
      display: flex;
      align-items: center;
  
      & + span {
        margin-top: 0.25rem;
      }
  
      svg {
        margin-right: 0.25rem;
        color: #8b949e;
      }
    }
  }
}

.divider {
  height: inherit;
  margin: 0 4rem;
  border-left: 1px solid #8b949e;
}

.content {
  display: flex;
  flex-direction: column;
}

.contentList {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
}

.repositoryItem {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 6px;
  padding: 16px;
  border: 1px solid #8b949e;

  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #5c8af7;

    svg {
      color: var(--white);
      margin-right: 4px;
    }
  }

  p {
    font-size: 14px;
    margin-top: 16px;
  }

  transition: background-color 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.repositoryInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;

    :first-child {
      margin-right: 4px;
    }

    & + p {
      margin-left: 16px;
    }
  }
}