.header {
  height: 4rem;
  background: var(--gray-880);
  box-shadow: 0 0 8px var(--shadow-color);
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }

  form {
    display: flex;
    width: 100%;
    max-width: 500px;

    input {
      height: 2rem;
      width: 100%;
      border-radius: 2rem;
      background: var(--gray-800);
      color: var(--white);
      border: 0;
      padding: 1rem;
    }
  }
}

.signOutButton {
  height: 2.2rem;
  border-radius: 2.2rem;
  background: var(--gray-800);
  border: 0;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: var(--white);
  font-weight: bold;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
  }

  span {
    line-height: 2.2rem;
  }

  svg {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}