.hero {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--gray-700);

  width: 100%;
  max-width: 70vw;

  img {
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    margin-right: 3rem;
  }

  div {
    margin-top: 1.25rem;
  }

  .userInfoGroup {
    h3 {
      margin-bottom: 1rem;
      color: var(--gray-700);
    }
  
    p {
      font-size: 1.1rem;
    }
  }
  
  .followersGroup {
    display: flex;
    align-items: center;
  
    p {
      display: flex;
      align-items: center;
      color: var(--gray-700);
  
      p {
        color: var(--white);
        font-weight: 500;
        margin: 0 0.25rem;
      }
    }
  }
  
  .socialGroup {
    display: flex;
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  max-width: 70vw;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
  }

  nav a {
    width: 100%;
    max-width: 16rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-800);
    border-radius: 0.25rem;
    border: 0;
    color: var(--white);
    height: 3.1rem;
    font-weight: 900;
    text-transform: uppercase;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}